<div id='task-list' ng-app="todoApp" >
  <div ng-controller="TodoCtrl as task">
    <h2>Total tasks: {{task.getTotalTasks()}}</h2>
    <ul class="list-unstyled">
      <li ng-repeat="task in task.tasks">
        <input type='checkbox' ng-model='task.done'>
        <span class="done-{{task.done}}">{{task.body}}</span>
      </li>
    </ul>
    <form class="form-horozantal" novalidate>
      <input  type="text" ng-model="task.formTaskText" ng-model-instant>
      <button class="btn glyphicon glyphicon-plus" ng-click="task.addTodo()" required> Add</button>
    </form>
  </div>
</div>